
/_build/
/node_modules/
/_esy/

.merlin
*.install
.vscode/settings.json

*~
\#*\#
*.swp

*.vo
*.vio
*.vos
*.vok
*.glob
*.aux
.DS_Store
.lia.cache
.nia.cache

/theories/extract.ml
/theories/extract.mli

.saves
.DS_Store

/wasm_interpreter
/history.txt

