
/_build/
/node_modules/
/_esy/

.merlin
*.install
.vscode/settings.json

*~
\#*\#
*.swp

*.vo
*.glob
*.aux
.lia.cache
.nia.cache

/theories/extract.ml
/theories/extract.mli

.saves

/wasm_interpreter
/history.txt

